*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::view-transition-group(*) {
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
}

:root {
  --color-bg: #f3f0e9;
  --color-text: #2d2d2d;
  --color-text-muted: #6b6b6b;
  --color-border: #cad3e1;
  --color-accent: #eb8f5a;
  --color-link: #3d3d3d;
  --color-code-bg: #1a1a1a;
  --color-code-text: #f0f0f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-bg: #1a1a1a;
    --color-text: #e8e5e1;
    --color-text-muted: #9a9a9a;
    --color-border: #333;
    --color-accent: rgb(194, 127, 59);
    --color-link: #c8c8c8;
    --color-code-bg: #111;
    --color-code-text: #e0e0e0;
  }
}

.nav-link {
  font-family: var(--font-body), 'DM Sans', sans-serif;
  font-size: 1.0rem;
}

body {
  background: var(--color-bg);
  font-family: var(--font-body), 'DM Sans', sans-serif;
  color: var(--color-text);
  font-size: 1.125rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: normal;
  font-feature-settings: 'kern' 1, 'liga' 1, 'calt' 1;
  text-rendering: optimizeLegibility;
}
